# ======================
# Flutter / Dart / Pub
# ======================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Build outputs
build/
.ios/
.android/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# Ignore IntelliJ/VS Code settings
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Logs & temp files
*.log
*.tmp
*.swp
*.DS_Store
*.atom/
.history
.svn/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Android specific build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# ======================
# Keep important folders
# ======================
# Explicitly keep assets, test, web, desktop
!assets/
!test/
!web/
!desktop/
